<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>Servlets.s1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaMensajes</servlet-name>
        <servlet-class>Servlets.listaMensajes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaUsuarios</servlet-name>
        <servlet-class>Servlets.listaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearMensajeAdministrador</servlet-name>
        <servlet-class>Servlets.crearMensajeAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarMensaje</servlet-name>
        <servlet-class>Servlets.borrarMensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearUsuario</servlet-name>
        <servlet-class>Servlets.crearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarUsuario</servlet-name>
        <servlet-class>Servlets.modificarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaMensajes</servlet-name>
        <url-pattern>/listaMensajes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaUsuarios</servlet-name>
        <url-pattern>/listaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearMensajeAdministrador</servlet-name>
        <url-pattern>/crearMensajeAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarMensaje</servlet-name>
        <url-pattern>/borrarMensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearUsuario</servlet-name>
        <url-pattern>/crearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarUsuario</servlet-name>
        <url-pattern>/modificarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
